MapScreenshot.xcodeproj/project.xcworkspace/xcuserdata/nburyak.xcuserdatad/UserInterfaceState.xcuserstate
MapScreenshot.xcodeproj/xcuserdata/nburyak.xcuserdatad/xcschemes/MapScreenshot.xcscheme
MapScreenshot.xcodeproj/xcuserdata/nburyak.xcuserdatad/xcschemes/xcschememanagement.plist
